.buttons
{
    right: 0;
    position: absolute;
}

.loggedIn
{
    right: 0;
    position: absolute;
}

#myProfile {
  border-color: white;
  color: white;
}

#myProfile:hover {
  background: green;
}
