<h1 class="names"> {{user.firstName}} {{user.lastName}}</h1>

<h1>My charities</h1>
<hr>

<div  *ngFor = "let charity of myCharities" id="charities">
    <div class="clr-row">
        <div class="clr-col-lg-6 clr-col-10">
            <a [routerLink]="['/charity',charity.id]" class="card clickable" >
                <h2>{{charity.title}}</h2> 
                <div class="card-img">
                    <img [src]="charity.imageUrl">
                </div>
                <div class="description">
                    {{charity.description|cut}}
                </div>
                <div class="card-block">
                    <div *ngIf="charity.volunteersNeeded != 0">
                        <div class="progress-block">
                            <label for="demoProgressBar">{{charity.volunteers}}</label>
                            <clr-progress-bar id="demoProgressBar" clrValue="{{charity.volunteers}}" 
                                            clrMax="{{charity.volunteersNeeded}}"></clr-progress-bar>
                            <span id="progress-bar">{{charity.volunteersNeeded}}</span>
                        </div>
                    </div>
                    <div *ngIf="charity.moneyNeeded != 0">
                        <div class="progress-block">
                            <label for="demoProgressBar">{{charity.moneyDonated}}$</label>
                            <clr-progress-bar id="demoProgressBar" clrValue="{{charity.moneyDonated}}" 
                                            clrMax="{{charity.moneyNeeded}}"></clr-progress-bar>
                            <span id="progress-bar">{{charity.moneyNeeded}}$</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<h1>Recent donations</h1>
<hr>

<div  *ngFor = "let charity of donatedCharities" id="charities">
    <div class="clr-row">
        <div class="clr-col-lg-6 clr-col-10">
            <a [routerLink]="['/charity',charity.id]" class="card clickable" >
                <h2>{{charity.title}}</h2> 
                <div class="card-img">
                    <img [src]="charity.imageUrl">
                </div>
                <div class="description">
                    {{charity.description|cut}}
                </div>
                <div class="card-block">
                    <div *ngIf="charity.volunteersNeeded != 0">
                        <div class="progress-block">
                            <label for="demoProgressBar">{{charity.volunteers}}</label>
                            <clr-progress-bar id="demoProgressBar" clrValue="{{charity.volunteers}}" 
                                            clrMax="{{charity.volunteersNeeded}}"></clr-progress-bar>
                            <span id="progress-bar">{{charity.volunteersNeeded}}</span>
                        </div>
                    </div>
                    <div *ngIf="charity.moneyNeeded != 0">
                        <div class="progress-block">
                            <label for="demoProgressBar">{{charity.moneyDonated}}$</label>
                            <clr-progress-bar id="demoProgressBar" clrValue="{{charity.moneyDonated}}" 
                                            clrMax="{{charity.moneyNeeded}}"></clr-progress-bar>
                            <span id="progress-bar">{{charity.moneyNeeded}}$</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<h1>Recent participations</h1>
<hr>

<div  *ngFor = "let charity of participatedCharities" id="charities">
    <div class="clr-row">
        <div class="clr-col-lg-6 clr-col-10">
            <a [routerLink]="['/charity',charity.id]" class="card clickable" >
                <h2>{{charity.title}}</h2> 
                <div class="card-img">
                    <img [src]="charity.imageUrl">
                </div>
                <div class="description">
                    {{charity.description|cut}}
                </div>
                <div class="card-block">
                    <div *ngIf="charity.volunteersNeeded != 0">
                        <div class="progress-block">
                            <label for="demoProgressBar">{{charity.volunteers}}</label>
                            <clr-progress-bar id="demoProgressBar" clrValue="{{charity.volunteers}}" 
                                            clrMax="{{charity.volunteersNeeded}}"></clr-progress-bar>
                            <span id="progress-bar">{{charity.volunteersNeeded}}</span>
                        </div>
                    </div>
                    <div *ngIf="charity.moneyNeeded != 0">
                        <div class="progress-block">
                            <label for="demoProgressBar">{{charity.moneyDonated}}$</label>
                            <clr-progress-bar id="demoProgressBar" clrValue="{{charity.moneyDonated}}" 
                                            clrMax="{{charity.moneyNeeded}}"></clr-progress-bar>
                            <span id="progress-bar">{{charity.moneyNeeded}}$</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>