<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Signup and jump into the</h3>
            CharityHub
        </section>
        <div class="login-group">
            <clr-input-container>
                <input type="text" name="username" clrInput placeholder="Username" [(ngModel)]="form.username" required />
            </clr-input-container>
            <clr-password-container>
                <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="form.password"  required />
            </clr-password-container>
            <clr-password-container>
              <input type="password" name="confirmPassword" clrPassword placeholder="Confirm Password" [(ngModel)]="confirmPassword" required />
            </clr-password-container>
            <clr-input-container>
              <input type="email" name="email" clrInput placeholder="Email Address" [(ngModel)]="form.email" required />
            </clr-input-container>
            <clr-input-container>
                <input type="text" name="firstName" clrInput placeholder="First name" [(ngModel)]="form.firstName" required />
            </clr-input-container>
            <clr-input-container>
                <input type="text" name="lastName" clrInput placeholder="Last name" [(ngModel)]="form.lastName" required />
            </clr-input-container>
            <div class="clr-row">
                <div class="clr-col-3">
                    <clr-input-container>
                        <input type="text" name="age" clrInput placeholder="Age" [(ngModel)]="form.age" required/>
                    </clr-input-container>
                </div>
                <div class="clr-col-9">
                    <clr-control-helper>You must be at least 16 years old to participate!</clr-control-helper>
                </div>
            </div>
            <clr-radio-container clrInline>
                <label>Please, select your gender:</label>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio name="gender" required value="Male" [(ngModel)]="form.gender"  />
                  <label>Male</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio name="gender" required value="Female" [(ngModel)]="form.gender" />
                  <label>Female</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="gender" required value="Undefined" [(ngModel)]="form.gender" />
                    <label>Prefer not to choose</label>
                  </clr-radio-wrapper>
                <clr-control-error>This field is required!</clr-control-error>
            </clr-radio-container>

            <div *ngIf="isInvalid">
                <div class="error active">
                    {{errorMessage}}
                </div>
            </div>

            <button type="submit" class="btn btn-primary" (click)="onClick()">SIGNUP</button>

        </div>
    </form>
</div>

<clr-modal [(clrModalOpen)]="shouldOpenModal" [clrModalClosable]="false">
  <h3 class="modal-title">Success</h3>
  <section class="modal-body">
    <p>
      You have registered successfully! Welcome to the new network for giving called CharityHub! Login and dive through the
      list of charities!
    </p>
  </section>
  <footer class="modal-footer">
    <button type="submit" class="btn btn-primary-outline" (click)="saveUser()">OK</button>
  </footer>
</clr-modal>
